</script>
<div class="col-xl-3 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-uppercase mb-1">Data Covid Indonesia</div>
<div id="covid"></div>
<script>

var f = document.createElement("iframe")

f.src = "https://apriza09.github.io/covid-id"

f.width = "100%"

f.height = 380

f.scrolling = "no"

f.frameBorder = 0

var rootEl = document.getElementById("covid")

console.log(rootEl)

rootEl.appendChild(f)

</script>
<div class="mt-2 mb-0 text-muted text-xs"> 
</span>
<span>Covid Information</span>
</div>
</div>
<div class="col-auto">
</div>
</div>
</div>
</div>
</div>